<header>
  <div class="title-bar-right mobile-nav-btn" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  </div>
  <nav class="top-bar">
    <!--<div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>-->
    <div class="top-bar-left">
      <object type="image/svg+xml" class="logo" data="img/header-logo.svg">
          <img src="img/header-logo.png">
      </object>
    </div>
    <div class="top-bar-right" id="responsive-menu">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Services</li>
        <li class="menu-text">About</li>
        <li class="menu-text">Contact</li>
      </ul>
    </div>
  </nav>
</header>